@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-geist_sans: var(--font-geist-sans);
  --font-geist_mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-raleway: var(--font-raleway);
  --font-nunito: var(--font-nunito);
  --font-quicksand: var(--font-quicksand);
  --font-architects-daughter: var(--font-architects-daughter);
  --font-comfortaa: var(--font-comfortaa);
  --font-pretendard: var(--font-pretendard);
  --font-suit: var(--font-suit);
  --font-nanum-square-neo: var(--font-nanum-square-neo);
  --font-paperlogy: var(--font-paperlogy);
  --font-s-core-dream: var(--font-s-core-dream);
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
